{% extends 'base.html.twig' %}

{% block title %}List of Orders{% endblock %}

{% block body %}
    <h1>List of Orders</h1>

    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Books</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>
                        <ul>
                            {% for book in order.books %}
                                <li>{{ book.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}